
/* Vista privada (dashboard) */

.table {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  color: #333;
}

.buttonPrimary {
  background:#c60000;
  color:#fff;
  border:none;
  padding:10px 16px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.buttonSecondary {
  background:#efefef;
  color:#333;
  border:none;
  padding:10px 16px;
  border-radius:8px;
  cursor:pointer;
}

.buttonSecondary:hover{
  background:#afafaf;
}

.dashboardContainer {
  position: relative;
  display: flex;
}

.mainContent {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 800;
  margin-left: 60px;
}

.shifted {
  transform: translateX(250px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 900;
}


.modalOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
}

.modalActions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
/* HEADER DE CREAR Y TITULO */
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ADICIONAR */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 700px;
  max-width: 90%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.formGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.formLeft label, .formRight label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

input, select {
  margin-top: 0.3rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.formRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoPreview {
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logoPreview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.placeholder {
  font-size: 2rem;
  color: #999;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 1rem;
}
